/* frontend/src/index.css */
:root {
  --bg-color: #0f0f0f;
  --card-color: #1a1a1a;
  --neon: #ccff00;
  --text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  margin: 0;
  font-family: 'Courier New', Courier, monospace; /* Gen Z aesthetic */
}